body {
  font-family: Arial;
  background:#0f172a;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.card {
  background:#1e293b;
  padding:25px;
  border-radius:10px;
  text-align:center;
  width:280px;
}

input, button {
  width:100%;
  padding:10px;
  margin:6px 0;
  border-radius:5px;
  border:none;
}

button {
  background:#22c55e;
  cursor:pointer;
}

button:hover {
  background:#16a34a;
}